.App {
  text-align: center;
  display: flex;
  align-items: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.quiz-container{
  width: 600px;
  height: 500px;
  background-color: #61dafb;
  border: 3px solid beige;
  color:#282c34;
  align-items: center;
  
}
.option-section{
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;

}
button{
  padding: 10px;
  width: 160px;
  border-radius: 10px;
  border: 1px solid beige;
  font-size: 20px;
}
button:hover{
  background-color: #e4bec4;
}
.btn-score{
  margin-top: 20px;
}